<div class="bootstrap-scope">
  <div class="container-fluid">
    <div *ngIf="gameQuestions$">
      <div class="flex-column">
        <div class="mt-3 row">
          <div class="d-inline col-4">
            <h2>Lives: {{getNumberOfLivesRemaining() | async}}</h2>
          </div>
          <div class="d-inline col-4 text-center">
            <h2>Points: {{getPoints() | async}}</h2>
          </div>
          <div class="d-inline col-4 text-right">
            <h2 [ngStyle]="{'color': timeLeft<=5 ? 'red': 'black'}">
              Time: {{timeLeft}} seconds
            </h2>
          </div>
        </div>
        <span class="mt-5 mb-5 d-flex justify-content-center">
          <h2 class="question-counter-color mr-2">Q:{{questionNumberCounter}}</h2>
          <h2>{{getCurrentQuestion() | replaceCodesToQuotes}}</h2>
        </span>
        <div class="container w-75">
          <div class="row">
            <div class="col">
              <app-option-card
                (selectedCardEmitter)="getChosenAnswer($event)"
                [cardText]="currentQuestion.correctAnswer"
                [isCorrectAnswer]="true">
              </app-option-card>
            </div>
            <div class="col">
              <app-option-card
                (selectedCardEmitter)="getChosenAnswer($event)"
                [cardText]="currentQuestion.incorrectAnswers[0]"
                [isCorrectAnswer]="false">
              </app-option-card>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <app-option-card
                (selectedCardEmitter)="getChosenAnswer($event)"
                [cardText]="currentQuestion.incorrectAnswers[1]"
                [isCorrectAnswer]="false">
              </app-option-card>
            </div>
            <div class="col">
              <app-option-card
                (selectedCardEmitter)="getChosenAnswer($event)"
                [cardText]="currentQuestion.incorrectAnswers[2]"
                [isCorrectAnswer]="false">
              </app-option-card>
            </div>
          </div>
        </div>
        <div *ngIf="!endOfGame" class="justify-content-center row">
          <button *ngIf="!answerSubmitted && timeLeft > 0"
                  mdbBtn type="button"
                  class="d-inline mt-5 rounded-pill h-100 w-25 btn ok-btn"
                  (click)="onAnswerSubmitted()"
          [disabled]="this.answerChosen.length === 0">
            <h3 class="my-2">OK</h3>
          </button>
          <button *ngIf="answerSubmitted || timeLeft === 0"
                  mdbBtn
                  type="button"
                  class="d-inline mt-5 rounded-pill h-100 w-25 btn ok-btn"
                  (click)="onContinueClicked()">
            <h3 class="my-2">Continue</h3>
          </button>
          <div>
          <button mdbBtn
                  type="button"
                  color="white"
                  class="d-inline mt-5 rounded-pill btn ok-btn"
                  [disabled]="disableSkipButton || answerSubmitted"
                  (click)="onSkip()">
            <h3 class="my-2">SKIP</h3>
          </button>
          <span><h4>Remaining Skips: {{getNumberOfSkipsRemaining() | async}}</h4></span>
          </div>
        </div>
        <app-stepper [questionNumber]="questionNumberCounter"></app-stepper>
        <div *ngIf="answerSubmitted && isCorrectAnswer()" class="alert alert-success text-center mt-2" role="alert">
          <h2> Correct Answer! </h2>
        </div>
        <div *ngIf="answerSubmitted && !isCorrectAnswer()" class="alert alert-danger text-center mt-2" role="alert">
          <h2> Wrong Answer! </h2>
        </div>
        <div *ngIf="timeLeft === 0" class="alert alert-danger text-center mt-2" role="alert">
          <h2> Time Out! </h2>
        </div>
        <div *ngIf="endOfGame" class="alert alert-success text-center mt-2" role="alert">
          <h2> {{getUsername() | async}}, You got {{getPoints() | async}} points!</h2>
          <button mdbBtn [routerLink]="['/leaderboard']">Go To Leaderboard</button>
          <button mdbBtn [routerLink]="['/login']">Go To Main Screen</button>
        </div>
      </div>
    </div>
  </div>
</div>
