<div class="bootstrap-scope">
  <div class="container-fluid">
    <div class="flex-column">
      <span class="h2 mt-5 mb-5 d-flex justify-content-center">Q:1 JASDSAKDNKJSADKNAS</span>
      <div class="container w-75">
        <div class="row">
          <div class="col">
            <button mdbBtn type="button" class="rounded-pill h-100 w-100 btn option-btn">Primary</button>
  <!--          <button class="rounded w-100 h-100 button-background" size="lg" mdbBtn type="button">Primary</button>-->
          </div>
          <div class="col">
            <button mdbBtn type="button" class="rounded-pill h-100 w-100 btn option-btn" >Primary</button>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col">
            <button mdbBtn type="button" class="rounded-pill h-100 w-100 btn option-btn">Primary</button>
          </div>
          <div class="col">
            <button mdbBtn type="button" class="rounded-pill h-100 w-100 btn option-btn">Primary</button>
          </div>
        </div>
      </div>
      <button mdbBtn type="button" class="d-block mx-auto mt-5 rounded-pill h-100 w-25 btn ok-btn">OK</button>
    </div>
  </div>
</div>
